*.o
*.a
*.so
*.dylib
*.mexmaci64
*.m~


# eclipse
.cproject
.project

# acado
mpc_data*.txt
sim_data*.txt
mpc.cpp
sim.cpp
mpc_RUN.*
sim_RUN.*
integrate_chain.*
acado_MPCstep.*
export_MPC/*
export_SIM/*

# mac
*.DS_Store